.grid {
  margin-top: var(--space-6);
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-5);
}

@media (min-width: 700px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.description {
  color: var(--color-text-muted);
}
