.container {
  margin-inline: auto;
  padding-inline: var(--container-gutter);
  width: 100%;
}

.content {
  max-width: var(--container-content);
}

.wide {
  max-width: var(--container-wide);
}

.full {
  max-width: none;
}
